<input type="file" (change)="onFileChange($event)" multiple="false" />

<div class="container">
  <span class="h2">Datos subidos</span>
  <button (click)="mostrarFiltros = !mostrarFiltros">Filtros</button>
  @if (mostrarFiltros) {
    <input [(ngModel)]="filtro" placeholder="Buscar cabecera">
    @for (cabecera of nuevasCabeceras; track cabecera; let i = $index) {
      <!-- @if (cabeceras.includes(filtro)) {
        <input type="checkbox" [checked]="esDesactivada(cabecera)" (change)="desactivarCabecera(cabecera)"> {{cabecera}}
      } -->
      <input type="checkbox" [checked]="cabecera.active" (change)="changeStateCabecera(cabecera)"> {{cabecera.label}}
    }
  }
  <hr>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      @for (column of nuevasCabeceras; track column; let i = $index) {
        @if (column.active) {
          <ng-container [matColumnDef]="column.label">
            <th mat-header-cell *matHeaderCellDef> {{column.label}} </th>
            <td mat-cell *matCellDef="let element"> {{element[i]}} </td>
          </ng-container>
        }
      }
    <tr mat-header-row *matHeaderRowDef="activeColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: activeColumns;"></tr>
  </table>
</div>